body {
    color: #dfe5ef;
    background: #1a1b20;
    font: 400 14px -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

a {
    color: #dfe5ef;
    
}

a:link {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
    border: 1px solid #343741;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #343741;
    background: transparent;
    color: #dfe5ef;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

.button-inline {
    border-width: 0;
    background: transparent;
    color: inherit;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
}

.button-active {
    border-radius: 0;
    border-bottom: 1px solid #38BB6C;
}

*:focus {
    outline: none;
}
